// COLORS
$red = #ea5a5a;
$darkRed = #DC2A2A
$green = #3dc19e;
$grey = #666;
$darkGrey = rgb(49, 54, 65);
$lightGrey = #f4f7fa; //efefef
$breadcrumbGrey = #757575
$blue = #00c3ff;
$orange = #fd554a;
$yellow = #fdd835;
$pink = #F424B9;

$background-color = #f2f6f9;
// SPACINGS
$spacingXXS = 8px;
$spacingXS = 12px;
$spacingS = 16px;
$spacingM = 20px;
$spacingL = 24px;
$spacingXL = 30px;
// FONTS
$fontXS = 0.8rem;
$fontS = 0.9rem;
$fontM = 1rem;
$fontL = 1.2rem;
$fontXL = 1.6rem;
$fontXXL = 2.5rem;
// WEIGHT
$normalWeight = 400;
$boldWeight = 600;


$textColor = #313541;

// Breakpoints
  // This value is also present in src/App.vue to know if we are before 
  // or after the breakpoint (mobileMode or desktopMode)
$breakpoint-no-menu = 1200px;

//sizes
$resource-max-width = 890px;
$menu-width = 225px;
$header-height = 87px;
$logo-responsive-width = 50%;

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|PT+Serif');

$textSize = 15px;
$textFont = 'Montserrat', sans-serif;
$titleFont = 'PT Serif', serif;
